<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621709444262-3vajvj1jg14shg94tt5dqgfudldshg8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621709444262-3vajvj1jg14shg94tt5dqgfudldshg8q</string>
	<key>API_KEY</key>
	<string>AIzaSyAGH-84cd4hTnm5QgNsaGiwRWq0KYP7T8E</string>
	<key>GCM_SENDER_ID</key>
	<string>621709444262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gheorghe.pethealth</string>
	<key>PROJECT_ID</key>
	<string>pethealth-cc344</string>
	<key>STORAGE_BUCKET</key>
	<string>pethealth-cc344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621709444262:ios:e874fbbc4f2cdf8461e067</string>
</dict>
</plist>